<div class="bg-dark p-4">
    <div class="row">
      <div class="col-3 my-3" *ngFor="let furniture of furnitureItems">
        <div class="card mx-2" style="width: 300px; height: 400px">
          <img [src]="furniture.imageUrl" class="card-img-top" alt="Furniture" style="height: 250px; padding: 5px; border-radius: 10px;">
          <div class="card-body">
            <h5 class="card-title">{{ furniture.name }}</h5>
            <p class="card-text">Price: ₹{{ furniture.price }}</p>
            <a [routerLink]="['/products/details', furniture.id]" class="btn btn-dark">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  